@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto&family=Ubuntu:wght@300&display=swap');

.about {
    width: 100%;
    height: 150vh;
    background-color: #2C2C31;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume {
    width: 90%;
    height: 250px;
    background-color: #26262B;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.resumeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.resumeContent h1 {
    color: #BA1CFF;
    font-size: 50px;
    margin-bottom: 15px;
}

.resumeContent h2 {
    color: floralwhite;
    font-family: 'Poppins', sans-serif;
}

.resumeCenterContent {
    border-left: solid 22 #BA1CFF;
}

hr {
    color: #2C2C31;
}

.myPicture {
    width: 250px; height: 250px;
    border: #BA1CFF 5px solid;
    border-radius: 50%;
}

.myBio {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.greetings {
    color: #BA1CFF;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.bioApresentation {
    color: #fff;
    width: 350px;
    margin-top: 20px;
    font-size: 18px;
}

.buttonContactarBio {
    margin-top: 30px;
}