@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

header {
    width: 100%;
    height: 107vh;
    background-color: #26262B;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.superiorMenu {
    display: flex;
    align-items: center;
    list-style: none;
}

.superiorMenu li a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(187, 186, 186);
    margin: 15px;
}

.superiorMenu li a:hover {
    color: #fff;
    border-bottom: #fff 2px solid;
    font-weight: 500;
}

.buttonContact {
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    background-color: #BA1CFF;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.buttonContact:hover {
    background: none;
    border: 2px solid #BA1CFF;
    color: #BA1CFF;
}

.monitor {
    width: 80px;
}

.helloMensage {
    color: #fff;
    font-family: 'Poppins';
    font-size: 30px;
    height: 40px;
    margin-top: 20px;
}

.myName {
    color: #BA1CFF;
    font-size: 80px;
    height: 80px;
}

.apresentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 100vh;
}